<h1>New Form</h1>
<%= form_for @pin do |f| %>
  <% if @pin.errors.any? %>
    <h2><%= @pin.errors.count %>Error exists:</h2>

     <ul>
       <% @pin.errors.full_messages.each do |message| %>
       <li><%= message %></li>
       <% end %>
     </ul>
  <% end %>


  <h2>Title</h2>
  <%= f.text_field :title, {class: "form_control title-field"} %>
  <h2>Description</h2>
  <%= f.text_area :description, { class: "form_control content-field" } %>
  <br/>
  <%= f.submit "Create Pin", { class: "btn primary-btn" } %>
<% end %>
