<h1>New Form</h1>
<%= form_for @pin, html: { multipart: true } do |f| %>
  <% if @pin.errors.any? %>
    <h2><%= @pin.errors.count %>Error exists:</h2>

     <ul>
       <% @pin.errors.full_messages.each do |message| %>
       <li><%= message %></li>
       <% end %>
     </ul>
  <% end %>


<div class="col-md-3 col-md-offset-3">
    <h2>Title</h2>
    <p>
    <%= f.text_field :title, {class: "form_control title-field"} %>
    </p>

    <p>
    <%= f.label :image %>
    <%= f.file_field :image %>
    </p> 

    <h2>Description</h2>
    <p>
    <%= f.text_area :description, { class: "form_control content-field" } %>
    </p>

    <p>
    <%= f.submit "Create Pin", { class: "btn btn-large btn-primary" } %>
    </p>
    <% end %>
</div>
