<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
      <a><%= link_to "Rudiments Sheet", root_path, id: "logo" %></a>
        <nav>
          <ul class="nav pull-right">
            <% if signed_in? %>
              <li><%= link_to "New Music", new_pin_path %></li>
              <li><%= link_to "About Us", about_path %></li>
              <li><%= link_to "Blogs", 'http://rudiment.blog.jp/' %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
            <% else %>
             <li><%= link_to "About Us", about_path %></li>
             <li><%= link_to "Blogs", 'http://rudiment.blog.jp/' %></li>
             <li><%= link_to "Sign up", signup_path %></li>
             <li><%= link_to "Sign in", signin_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
</header>
