<!DOCTYPE html>
<html>
<head>
  <title>PinBoard</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Welcome to Pin Board！</h1>



  <%= link_to "About Us", about_path %>
  <%= link_to "New Pin", new_pin_path %>
  <%= link_to "Index", pins_path %>


<%= yield %>

</body>
</html>
